<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[微笑]</key>
	<string>[#&amp;1]</string>
	<key>[撇嘴]</key>
	<string>[#&amp;2]</string>
	<key>[色]</key>
	<string>[#&amp;3]</string>
	<key>[发呆]</key>
	<string>[#&amp;4]</string>
	<key>[得意]</key>
	<string>[#&amp;5]</string>
	<key>[流泪]</key>
	<string>[#&amp;6]</string>
	<key>[害羞]</key>
	<string>[#&amp;7]</string>
	<key>[闭嘴]</key>
	<string>[#&amp;8]</string>
	<key>[睡]</key>
	<string>[#&amp;9]</string>
	<key>[大哭]</key>
	<string>[#&amp;10]</string>
	<key>[尴尬]</key>
	<string>[#&amp;11]</string>
	<key>[发怒]</key>
	<string>[#&amp;12]</string>
	<key>[调皮]</key>
	<string>[#&amp;13]</string>
	<key>[呲牙]</key>
	<string>[#&amp;14]</string>
	<key>[惊讶]</key>
	<string>[#&amp;15]</string>
	<key>[难过]</key>
	<string>[#&amp;16]</string>
	<key>[酷]</key>
	<string>[#&amp;17]</string>
	<key>[冷汗]</key>
	<string>[#&amp;18]</string>
	<key>[抓狂]</key>
	<string>[#&amp;19]</string>
	<key>[吐]</key>
	<string>[#&amp;20]</string>
	<key>[偷笑]</key>
	<string>[#&amp;21]</string>
	<key>[可爱]</key>
	<string>[#&amp;22]</string>
	<key>[白眼]</key>
	<string>[#&amp;23]</string>
	<key>[傲慢]</key>
	<string>[#&amp;24]</string>
	<key>[饥饿]</key>
	<string>[#&amp;25]</string>
	<key>[困]</key>
	<string>[#&amp;26]</string>
	<key>[惊恐]</key>
	<string>[#&amp;27]</string>
	<key>[汗]</key>
	<string>[#&amp;28]</string>
	<key>[憨笑]</key>
	<string>[#&amp;29]</string>
	<key>[悠闲]</key>
	<string>[#&amp;30]</string>
	<key>[奋斗]</key>
	<string>[#&amp;31]</string>
	<key>[咒骂]</key>
	<string>[#&amp;32]</string>
	<key>[疑问]</key>
	<string>[#&amp;33]</string>
	<key>[嘘]</key>
	<string>[#&amp;34]</string>
	<key>[晕]</key>
	<string>[#&amp;35]</string>
	<key>[疯了]</key>
	<string>[#&amp;36]</string>
	<key>[衰]</key>
	<string>[#&amp;37]</string>
	<key>[骷髅]</key>
	<string>[#&amp;38]</string>
	<key>[敲打]</key>
	<string>[#&amp;39]</string>
	<key>[再见]</key>
	<string>[#&amp;40]</string>
	<key>[擦汗]</key>
	<string>[#&amp;41]</string>
	<key>[挖鼻孔]</key>
	<string>[#&amp;42]</string>
	<key>[鼓掌]</key>
	<string>[#&amp;43]</string>
	<key>[坏笑]</key>
	<string>[#&amp;44]</string>
	<key>[左哼哼]</key>
	<string>[#&amp;45]</string>
	<key>[右哼哼]</key>
	<string>[#&amp;46]</string>
	<key>[哈欠]</key>
	<string>[#&amp;47]</string>
	<key>[鄙视]</key>
	<string>[#&amp;48]</string>
	<key>[委屈]</key>
	<string>[#&amp;49]</string>
	<key>[快哭了]</key>
	<string>[#&amp;50]</string>
	<key>[阴险]</key>
	<string>[#&amp;51]</string>
	<key>[亲亲]</key>
	<string>[#&amp;52]</string>
	<key>[吓]</key>
	<string>[#&amp;53]</string>
	<key>[可怜]</key>
	<string>[#&amp;54]</string>
	<key>[菜刀]</key>
	<string>[#&amp;55]</string>
	<key>[西瓜]</key>
	<string>[#&amp;56]</string>
	<key>[啤酒]</key>
	<string>[#&amp;57]</string>
	<key>[篮球]</key>
	<string>[#&amp;58]</string>
	<key>[乒乓球]</key>
	<string>[#&amp;59]</string>
	<key>[咖啡]</key>
	<string>[#&amp;60]</string>
	<key>[饭]</key>
	<string>[#&amp;61]</string>
	<key>[玫瑰花]</key>
	<string>[#&amp;62]</string>
	<key>[凋谢]</key>
	<string>[#&amp;63]</string>
	<key>[嘴唇]</key>
	<string>[#&amp;64]</string>
	<key>[爱心]</key>
	<string>[#&amp;65]</string>
	<key>[心碎]</key>
	<string>[#&amp;66]</string>
	<key>[蛋糕]</key>
	<string>[#&amp;67]</string>
	<key>[闪电]</key>
	<string>[#&amp;68]</string>
	<key>[炸弹]</key>
	<string>[#&amp;69]</string>
	<key>[刀]</key>
	<string>[#&amp;70]</string>
	<key>[足球]</key>
	<string>[#&amp;71]</string>
	<key>[瓢虫]</key>
	<string>[#&amp;72]</string>
	<key>[便便]</key>
	<string>[#&amp;73]</string>
	<key>[月亮]</key>
	<string>[#&amp;74]</string>
	<key>[太阳]</key>
	<string>[#&amp;75]</string>
	<key>[礼物]</key>
	<string>[#&amp;76]</string>
	<key>[拥抱]</key>
	<string>[#&amp;77]</string>
	<key>[强]</key>
	<string>[#&amp;78]</string>
	<key>[弱]</key>
	<string>[#&amp;79]</string>
	<key>[握手]</key>
	<string>[#&amp;80]</string>
	<key>[胜利]</key>
	<string>[#&amp;81]</string>
	<key>[抱拳]</key>
	<string>[#&amp;82]</string>
	<key>[勾引]</key>
	<string>[#&amp;83]</string>
	<key>[拳头]</key>
	<string>[#&amp;84]</string>
	<key>[差劲]</key>
	<string>[#&amp;85]</string>
	<key>[爱你]</key>
	<string>[#&amp;86]</string>
	<key>[NO]</key>
	<string>[#&amp;87]</string>
	<key>[OK]</key>
	<string>[#&amp;88]</string>
	<key>[猪头]</key>
	<string>[#&amp;89]</string>
</dict>
</plist>
